@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body,html,h1,h2,h3,h4,h5,h6,p,button{
    font-family: 'Open Sans', sans-serif !important;
}

.container-own
{
    width:98%;
    margin-left: 1%;
    margin-right: 1%;
}
.txt-field
{
    margin-top: 10px;
    width: 50%;
}
.btn-push
{
    letter-spacing: 2px !important;
    font-size: 15px !important;
}
.text-head{
    letter-spacing: 1px !important;
    word-spacing: 4px !important;
    margin-bottom: 40px;
    font-weight: bold;
}
@media all and (max-width:600px)
{
    .txt-field
    {
        width: 90%;
    }   
}