$PrimaryColor:#1D09EA;

.navbar-text
{
    color: $PrimaryColor !important;
    font-weight: 900;
    font-size: 30px !important;
    margin-left: 70px;
    margin-top: 5px;
    cursor:text;
    margin-right: 20%;
}
.NavbarUserImage
{
    width: 45px;
    margin-top: 7px;
}
.dropdown-menu .dropdown-item{
    cursor: pointer;
}
.nav-link
{
    font-size: 20px !important;
    text-transform:capitalize !important;
}
@media all and (max-width:375px)
{
    .navbar-text
    {
        margin-left: initial !important;
        text-align: center !important;
        margin: 0 auto !important;
    }
}